body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0 auto;
    box-sizing: border-box;
}
h1 {
  margin: .5rem auto;
  text-align: center;
}
.main {
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;
}
.customerProfile {
  width: 25%;
}

/*CUSTOMER PHOTO*/
.customerPic {

}
img {
  margin: 1rem auto;
  width: 17rem;
  display: flex;
}
/*NAME*/
h3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-style: solid;
}

/*EMAIL*/
h4, h5 {
  text-align: center;
  font-weight: 300;
}
.customerAddress p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;

}

/*CUSTOMER ADDRESS*/
.customerAddress {

}


/*SSN*/
.ssn {
  color: green;
}
